---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../assets/icons/arrow-right.svg';
import { withBase } from '../utils/common-utils';
import { getReadingTime } from '../utils/data-utils';
import FormattedDate from './FormattedDate.astro';

type Props = { post: CollectionEntry<'blog'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title, publishDate, updatedDate, excerpt, series, draft } = post.data;
const TitleTag = headingLevel;
const postUrl = withBase(`/blog/${post.id}/`);
const readingTime = getReadingTime(post.body);
---

<a class:list={['group flex items-start justify-between gap-8', className]} href={postUrl}>
    <div class="grow">
        <TitleTag
            class="font-serif text-xl leading-tight font-medium group-hover:underline group-hover:decoration-dashed group-hover:decoration-1 group-hover:underline-offset-4 sm:text-2xl"
        >
            {title}
        </TitleTag>
        <div class="mt-1 text-sm leading-normal">
            {draft && <span class="mr-2">草稿</span>}
            <FormattedDate date={publishDate} />
            {
                updatedDate && (
                    <>
                        {' '}
                        <span>
                            (更新于 <FormattedDate date={updatedDate} />)
                        </span>
                    </>
                )
            }
            {series && <span> · {series}</span>}
            <span> · {readingTime} 分钟阅读</span>
        </div>
        {excerpt && <div class="mt-3 text-sm leading-normal">{excerpt}</div>}
    </div>
    <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1">
        阅读全文 <ArrowRight class="h-4 w-4 fill-current" />
    </div>
</a>
